* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background: rgb(128, 115, 115);
  font-family: "Montserrat", sans-serif;
  color: white;
}

header {
  background-color: rgba(255, 255, 255, 1);
  height: 10vh;
  width: 100%;
}

nav {
  width: 92%;
  height: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  /* border: 1px solid red; */
  margin: 0 auto;
}

.hamburger-class {
  fill: #1b1b1b;
}

article {
  height: 40vh;
  background: url("./images/main-photo2.jpg") center/cover no-repeat border-box;
  background-size: cover;
  position: relative;
}

figure h1 {
  position: absolute;
  bottom: 9%;
  left: 5%;
  font-size: 1.6rem;
  color: #ffffff;
  text-shadow: 0 0 10px #000;
}
