/* logo:
zółty: #d6c8ad
czarny: #1d1d1b
 */

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  /* background: rgb(128, 115, 115); */
  background: #d6c8ad;
  font-family: "Montserrat", sans-serif;
  color: #ffffff;
}

header {
  background-color: rgba(255, 255, 255, 1);
  height: 10vh;
  width: 100%;
}

nav {
  width: 92%;
  height: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  /* border: 1px solid red; */
  margin: 0 auto;
}

.hamburger-class {
  fill: #1b1b1b;
}

section {
  height: 40vh;
  background: url("./images/main-photo2.jpg") center/cover no-repeat border-box;
  background-size: cover;
  position: relative;
}

figure h1 {
  position: absolute;
  bottom: 9%;
  left: 5%;
  font-size: 1.6rem;
  text-shadow: 0 0 10px #000;
}
#content {
  height: 95vh;
  padding: 1rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-direction: column;
}

#content form span {
  font-weight: bold;
  font-size: 1rem;
  padding: 1rem 0 0.5rem 0;
  /* border: 1px solid green; */
}

#content form #content-title {
  /* color: green; */
  display: inline-block;
  padding: 0 0 0.5rem 0;
}

form {
  width: 98%;
  height: 100%;
  padding: 1rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-direction: column;
  border: 1px solid #d1d1d1;
  border-radius: 5px;
  background: #c5b598;
}

form input,
select,
option {
  width: 70%;
  height: 2.4rem;
  border: 1px solid #d1d1d1;
  border-radius: 5px;
  outline: none;
  font-size: 1rem;
  font-weight: bold;
  padding: 0 0.5rem;
}

.rooms-bathrooms {
  border: 1px solid #d1d1d1;
  width: 70%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 2.4rem;
  border-radius: 5px;
  overflow: hidden;
}

.rooms-bathrooms button {
  width: 40%;
  height: 100%;
  background: #ffffff;
  border: none;
  border-left-style: 1px solid #d1d1d1;
  outline: none;
  color: #1b1b1b;
  font-weight: bold;
  font-size: 1rem;
}

.rooms-bathrooms .btn-left {
  border-right: 1px solid #d1d1d1;
}

.rooms-bathrooms .btn-right {
  border-left: 1px solid #d1d1d1;
}

.rooms-bathrooms .text-between-btn {
  background: #ffffff;
  width: 100%;
  height: 100%;
  color: #1b1b1b;
  font-weight: bold;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0 !important;
}

#numbers {
  height: 120vh;
  background: #c5b598;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  text-align: center;
  padding: 1rem 0;
}

#numbers div {
  /* border: 1px solid red; */
  height: 33vh;
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-direction: column;
}

#numbers div h1 {
  /* border: 1px solid yellow; */
  width: 80%;
  padding: 5px 5px 15px 5px;
  font-size: 40px;
}

#numbers div p {
  /* border: 1px solid blue; */
  width: 50%;
  padding: 10px;
  font-weight: bold;
}

article p {
  display: inline-block;
  width: 50vw;
}

.main-footer {
  width: 100%;
  color: #1d1d1b;
}

.main-footer__logo-container {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 30vh;
}

.main-footer__logo {
  border: 1px solid black;
  padding: 10vh 2vw;
}

.main-footer__lists {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
  justify-content: space-around;
}

.main-footer-list {
  list-style: none;
}

.main-footer-list__item-main {
  font-weight: bold;
  font-size: 1.2rem;
  padding-top: 2rem;
  padding-bottom: 0.9rem;
}

.main-footer-list__item {
  padding-bottom: 0.5rem;
}

.main-footer-list__item a {
  text-decoration: none;
  color: #1d1d1b;
}

.main-footer-list__item a:hover,
.main-footer-list__item a:active {
  font-size: 1.05rem;
}

.socials-facebook a:hover,
.socials-facebook a:active {
  color: #2d88ff;
}

.socials-twitter a:hover,
.socials-twitter a:active {
  color: rgba(29, 161, 242, 1);
}

.socials-instagram a:hover,
.socials-instagram a:active {
  background: -webkit-linear-gradient(
    right,
    #515bd4,
    #8134af,
    #dd2a7b,
    #feda77,
    #f58529
  );
  -webkit-background-clip: text;
  background-clip: text;
  -webkit-text-fill-color: transparent;
}

.socials-youtube a:hover,
.socials-youtube a:active {
  color: #c4302b;
}

.main-footer__rights {
  color: rgb(112, 112, 112);
  padding: 1rem;
  padding-top: 3rem;
  margin: 0 auto;
  width: 30vw;
}

@media (max-width: 42.5rem) {
  .main-footer__lists {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    padding-left: 1rem;
  }

  .main-footer__rights {
    margin: 0;
    width: 100vw;
  }
}
